body{
    background-color: rgb(46, 43, 52);
    color: white;
}

span{
    color: rgb(14, 132, 132);
}
nav{
    margin-top: 20px;
   text-align: center;
}
nav a
{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 50px;
}

footer
{
    padding: 5px;
    background-color: rgb(66, 63, 72);
}
#backtotop
{
    margin-left: 90%;
}